<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre | HOME</title>
</head>

<body>
    <header>
        <img src="/images/Logo.jpg" alt="Logo">
        <div>Lugar para poner la barra de búsqueda</div>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendasOficiales">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="/creaTuCuenta">Crea tu cuenta</a></li>
                <li><a href="/ingresa">Ingresa</a></li>
                <li><a href="/misCompras">Mis compras</a></li>
            </ul>
        </nav>
    </header>
    <main>
<section>
<img src="/images/img-home-banner.jpg" alt="" width="100%">
</section>
<section> <h2>Basado en tu última visita</h2>
    <article>
        <img src="/images/img-cafetera-moulinex.jpg" alt="" height="200">
        <h3>$6700</h3><p>40% off</p>
        <h3>Cafetera Moulinex </h3>
    </article>
    <article>
        <img src="/images/img-macbook-pro-2019.jpg" alt="" height="200">
        <h3>$23000</h3><p>20% off</p>
        <h3>MacBook Pro 2019</h3>
    </article>
    <article>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="" height="200">
        <h3>$70500</h3><p>10% off</p>
        <h3>Samsung Galaxy S10</h3>
    </article>
    <article>
        <img src="/images/img-tv-samsung-smart.jpg" alt="" height="200">
        <h3>$23200</h3><p>5% off</p>
        <h3>Smart Tv Samsung 43"</h3>
    </article>
</section>
<section> <h2>Sección de Ofertas</h2>
    <article>
        <img src="/images/img-cafetera-moulinex.jpg" alt="" height="200">
        <h3>$6700</h3><p>40% off</p>
        <h3>Cafetera Moulinex </h3>
    </article>
    <article>
        <img src="/images/img-macbook-pro-2019.jpg" alt="" height="200">
        <h3>$23000</h3><p>20% off</p>
        <h3>MacBook Pro 2019</h3>
    </article>
    <article>
        <img src="/images/img-samsung-galaxy-s10.jpg" alt="" height="200">
        <h3>$70500</h3><p>10% off</p>
        <h3>Samsung Galaxy S10</h3>
    </article>
    <article>
        <img src="/images/img-tv-samsung-smart.jpg" alt="" height="200">
        <h3>$23200</h3><p>5% off</p>
        <h3>Smart Tv Samsung 43"</h3>
    </article>
</section>
    </main>
    <footer>
<section>
    <article>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro</p>
    </article>
    <article>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </article>
    <article>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </article>
 Copyright © 1999-2020 MercadoLiebre S.R.L.
</section>
    </footer>    
</body>
</html>