<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre | HOME</title>
    <script src="https://kit.fontawesome.com/95086d397a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body class="home">
    <header class="home__header">
        <img class="home__logo" src="/images/logo-mercado-liebre.svg" alt="Logo">
       <div class="home__header--searchbox">
        <input class="home__header--search" type="text" value="Buscá productos, marcas">
       <button class="home__header--search--button" type="submit"><i class="fa-solid fa-magnifying-glass"></i></button></div>
        <p class="home__header--titulo"><a href=""><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</a></p>
        <nav class="home__header__nav">
            <ul class="home__header__nav--menuVenta">
                <li><a href="/ofertas">Ofertas</a></li>
                <li><a href="/tiendasOficiales">Tiendas Oficiales</a></li>
                <li><a href="/vender">Vender</a></li>
                <li><a href="/ayuda">Ayuda</a></li>
            </ul>
            <ul class="home__header__nav--menuLogin">
                <li><a href="/register">Creá tu cuenta<i class="fa-solid fa-address-card"></i></a></li>
                <li><a href="/login">Ingresa<i class="fa-solid fa-right-to-bracket"></i></a></li>
                <li><a href="/misCompras">Mis compras<i class="fa-solid fa-basket-shopping"></i></a></li>
            </ul>
        </nav>
        <div class="home__header__burger">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main class="home__main">
<section class="home__main__section">
<img class="home__main__section--banner" src="/images/img-home-banner.jpg" alt="" width="100%">
</section>
<section class="home__main__section">
    <h2 class="home__main__section--titulares">Basado en tu última visita</h2>
    <article class="home__main__section__article">
        <img class="home__main__section--imgProduct" src="/images/img-cafetera-moulinex.jpg" alt="" height="200">
        <div class="home__main__section__article--info">
            <i class="fa-solid fa-truck"></i>
            <h3 class="home__main__section__article--precio">$6700</h3>
            <h3 class="home__main__section__article--descuento">40% off</h3>
        <h4 class="home__main__section__article--nombre">Cafetera Moulinex </h4></div>
    </article>

    <article class="home__main__section__article">
        <img class="home__main__section--imgProduct" src="/images/img-macbook-pro-2019.jpg" alt="" height="200">
        <div class="home__main__section__article--info">
            <i class="fa-solid fa-truck"></i>
            <h3 class="home__main__section__article--precio">$23000</h3>
            <h3 class="home__main__section__article--descuento">20% off</h3>
        <h4 class="home__main__section__article--nombre">MacBook Pro 2019</h4></div>
    </article>

    <article class="home__main__section__article">
        <img class="home__main__section--imgProduct" src="/images/img-samsung-galaxy-s10.jpg" alt="" height="200">
        <div class="home__main__section__article--info">
            <i class="fa-solid fa-truck"></i>
            <h3 class="home__main__section__article--precio">$70500</h3>
            <h3 class="home__main__section__article--descuento">10% off</h3>
        <h4 class="home__main__section__article--nombre">Samsung Galaxy S10</h4></div>
    </article>

    <article class="home__main__section__article">
        <img class="home__main__section--imgProduct" src="/images/img-tv-samsung-smart.jpg" alt="" height="200">
        <div class="home__main__section__article--info">
            <i class="fa-solid fa-truck"></i>
            <h3 class="home__main__section__article--precio">$23200</h3>
            <h3 class="home__main__section__article--descuento">5% off</h3>
        <h4 class="home__main__section__article--nombre">Smart Tv Samsung 43"</h4></div>
    </article>

</section>
<section class="home__main__section">
    <h2 class="home__main__section--titulares">Sección de Ofertas</h2>
    <article class="home__main__section__article">
        <img class="home__main__section--imgProduct" src="/images/img-cafetera-moulinex.jpg" alt="" height="200">
        <div class="home__main__section__article--info">
            <i class="fa-solid fa-truck"></i>
        <h3 class="home__main__section__article--precio">$6700</h3>
        <h3 class="home__main__section__article--descuento">40% off</h3>
        <h4 class="home__main__section__article--nombre">Cafetera Moulinex </h4></div>
    </article>

    <article class="home__main__section__article">
        <img class="home__main__section--imgProduct" src="/images/img-macbook-pro-2019.jpg" alt="" height="200">
        <div class="home__main__section__article--info">
            <i class="fa-solid fa-truck"></i>
            <h3 class="home__main__section__article--precio">$23000</h3>
            <h3 class="home__main__section__article--descuento">20% off</h3>
        <h4 class="home__main__section__article--nombre">MacBook Pro 2019</h4></div>
    </article>

    <article class="home__main__section__article">
        <img class="home__main__section--imgProduct" src="/images/img-samsung-galaxy-s10.jpg" alt="" height="200">
        <div class="home__main__section__article--info">
            <i class="fa-solid fa-truck"></i>
            <h3 class="home__main__section__article--precio">$70500</h3>
            <h3 class="home__main__section__article--descuento">10% off</h3>
        <h4 class="home__main__section__article--nombre">Samsung Galaxy S10</h4></div>
    </article>

    <article class="home__main__section__article">
        <img class="home__main__section--imgProduct" src="/images/img-tv-samsung-smart.jpg" alt="" height="200">
        <div class="home__main__section__article--info">
            <i class="fa-solid fa-truck"></i>
            <h3 class="home__main__section__article--precio">$23200</h3>
            <h3 class="home__main__section__article--descuento">5% off</h3>
        <h4 class="home__main__section__article--nombre">Smart Tv Samsung 43"</h4></div>
    </article>
</section>
    </main>

    <footer class="home__footer">
<section class="home__footer__section">
    <article class="home_footer__article"><a class="home__footer--icon"href=""><i class="fa-solid fa-credit-card"></i></a>
        <h4>Pagá con tarjeta o en efectivo</h4>
        <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.¡Y siempre es seguro!</p>
    </article>
    <article class="home_footer__article"><a class="home__footer--icon"href=""><i class="fas fa-gift"></i></a>
        <h4>Envío gratis desde $ 2.500</h4>
        <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.</p>
    </article>
    <article class="home_footer__article"><a class="home__footer--icon"href=""><i class="fa-solid fa-user-shield"></i></a>
        <h4>Seguridad, de principio a fin</h4>
        <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.</p>
    </article>
 Copyright © 1999-2020 MercadoLiebre S.R.L.
</section>
    </footer>    
</body>
</html>