*{
    margin: 0;
}
body{
    font-family: var(--tipografia), sans-serif;
    font-size: 12px;
    padding: 0px px;
    background-color: var(--grisClaro);
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
p{
    font-family: var(--tipografia);
}