.home{
}
.home__header{
    background-color: var(--colorAmarillo);
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
.home__logo{
    background-color: var(--colorAmarillo);
    margin: 10px;
    width: 40%;
}
.home__logo img{
    width: 90%;
}
.home__header--searchbox{
    width: 50%;
    position: relative;
    padding: 0px;
}
.home__header--searchbox input{
    width: 100%;
    padding: 8px;
    border: none;
    border-radius: 8px;
   
}
.home__header--search{
    position: absolute;
    top: 0;
    right: 0;
    border: none;
background-color: #FFF;
border-left: 1px solid;
width: 48%;
display: flex;
flex-wrap: wrap;
}
.home__header--search--button{
    font-family: var(--tipografia), sans-serif;
    font-size: 20px;
    top: 0;
    right: 0;
    position: absolute;
}
.home__header--titulo{
    font-family: var(--tipografia);
     font-size: 12px;
}
.home__header__nav{
    display: none;
}
.home__header__nav--menuVenta{
    display: none;
    padding: 10px;
}
.home__header__nav--menuLogin{
    padding: 10px;
    display: none;
}
.home__header__burger{
   
    justify-content: center;
    color: white;
    width: 20px;
    height: 15px;
    position: relative;
    background-color: var(--colorCeleste);
    margin-bottom: 20px;
    margin-left: 150px;
    border-radius: 2px;
    text-align: center;
    margin-top: 20px;
    align-content: center;
    flex-wrap: wrap;
}
.home__main__section{
    
display: flex;
    
flex-wrap: wrap;
}
.home__main__section--banner{
    margin: 0px 0px 20px 0px;}
.home__main__section--titulares{
    font-family: var(--tipografia);
    font-size: 24px;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
}
.home__main__section__article{
    display: flex;
    flex-wrap: wrap;
    /* margin-bottom: 10px; */
    margin: 10px;
    justify-content: space-evenly;
    align-items: center;
    }
.home__main__section--imgProduct{
width: 100%;
    padding: 1px 1px 1px;
}
.home__main__section__article--info{
    display: flex;
    width: 100%;
    text-align-last: center;
    position: relative;
}
.home__main__section__article--info h3{
   display: none;
    background-color: white;
    border-top: 1px solid var(--grisClaro);
    padding: 15px;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    width: 100%;
}

/* 
 .home__main__section__article--info h3{
   color: var(--grisOscuro);
    font-weight:300px;
  height: 0;
   margin:0;
   width: 100%;
   transition: all 1s;
   overflow:hidden;  }*/


/* .home__main__section__article--info:hover{
height: 50px;
margin-top: 30px;
}  
.home__main__section__article:hover{
    box-shadow: 0px 0px 10px rgb(100, 100, 100);  
} */

.home__main__section__article--info i{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border:1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
    color: var(--colorVerde);
  /*   transition: 1s; */
}
/* .home__main__section__article--info i:hover{
    transform: rotate(-90deg);
} */
.home__main__section__article--precio{
    position: relative;
     width: 30%;
    font-size: 18px;  
}
.home__main__section__article--descuento{
    width: 50%;
    font-size: 16px;
    color: var(--colorVerde);
}
.home__main__section__article--nombre{
    background-color: #FFF;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    padding: 20px 0 20px;
    text-align: left;
    margin: 0;
}
.home__footer{
    font-family: var(--tipografia);
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 4px;
    margin-right: 4px;
    text-decoration-color: black;
    background-color: white;
    text-align: center;
}
.home__footer--icon{
    color: var(--colorCeleste);
    size: 2em;
 margin-bottom: 10px;
}
@media (min-width: 361px){
    .home__logo{
        width: 30%;
    }
    .home__header--searchbox{
        width: 30%;
    }
    .home__header--titulo{
        width: 30%;
    }
    .home__header__nav{
        display: flex;
        flex-wrap: nowrap;
        gap: 60px;
    }
    .home__header__nav--menuVenta{
        width: 60%;
        display: flex;
        gap: 10px;
        padding: 0 40px 0 0;
        justify-content: flex-start;
    }
    .home__header__nav--menuLogin{
        display: flex;
        width: 100%;
        gap: 10px;
        justify-content: flex-end;
        /* padding: 0 0 0 0px; */
    }
    .home__header__burger{
        display: none;
    }
    .home__main__section__article{
display: flex;
width: 50%;  
flex-wrap: wrap;    
margin: 0;    
flex-direction: row;    
position: relative;
}
.home__main__section__article--info{
    color: var(--grisOscuro);
    display: flex;
    font-weight: 300;
    margin: 0px;
    flex-direction: column;
    padding: 0;
    position: relative;
    }
    .home__main__section__article--info h3{
        display: block;
        padding: 0;
        margin: 0;
        position: relative;
    }
  /*   .home__main__section__article--info:hover{
   height: 50px;
   margin-top: 30px;
    } */
    .home__main__section__article--info i{
        display: block;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border:1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;
        color: var(--colorVerde);
      /*   transition: 1s; */
    }
}
@media (min-width: 769px){
    .home__header{
        display: flex;
    }
    .home__logo{
        width: 20%;
    }
    .home__header--searchbox{
        width: 30%;
    }
    .home__main__section__article{
      display: inline-block;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 22%;
      box-shadow: 0px 0px 10px rgb(100, 100, 100);
      }
    .home__main__section__article--info{
        
     position: relative;
    }
    .home__main__section__article--info h3{
        display: block;
    }
    .home__main__section__article--info i{
        display: flex;
        font-size: 16px;
        padding: 5px;
        width: 30px;
        height: 30px;
        border:1px solid #39b54a;
        background-color: #FFF;
        border-radius: 50%;
        position: absolute;
        right: 20px;
        top: -15px;

    } 
    .home__header__nav{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .home__header__nav--menuLogin{
        width: 50%;
    }
    .home__header__nav--menuVenta{
        width: 50%;
    }
    .home__header__burger{
        display: none;
    }
    
}
/*Mergeo cambios*/