.register{
    font-family: var(--tipografia);
    
    width: 90%;
    border: none;
    
}
.register h1{
   
}
.register__boxform{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    background-color: var(--grisClaro);
    border-radius: 5px;
}
.form__box{text-align: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 10px;}
.register__boxform, .form__box--name, .form__box--email, .form__box--usuario,.form__box--date,.form__box--domicilio,.form__box--passw, .form__box--rep-passw{
    font-family: var(--tipografia);
    border: none; 
    border-radius: 3px;
    width: 80%;
    padding: 6px;
}
.form__box--perfil{
    
gap: 25px;
    
display: flex;
    
flex-wrap: wrap;
}
.form__box--perfil-titulo{
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    width: 100%;
}
.form__box--perfil-compra{}
.form__box--perfil-venta{
    justify-content: center;

}
.form__box--interes{
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    align-items: center;
    flex-direction: column;
}
.register__ingreso_buttonEnv,.register__ingreso_buttonBorr{
    background-color: var(--colorCeleste);
    border-radius: 5px;
    width: 80%;
    border: none;
    color: #FFF;
    padding: 5px 5px;
    margin: 2px;
    font-family: var(--tipografia);
}
@media (min-width: 361px) {
    .register__header{
        background-color: var(--colorAmarillo);
        display: flex;
        justify-content: space-between;
    }
    .register__logo{
        width: 30%;
    }
    .register__header--searchbox{
        width: 30%;
    }
    .register__header__nav{
        display: flex;
        flex-direction: row;
    }
    .register__header--titulo{
        width: 80%;
    }
    .register__header__burger{
        display: none;
    }
    
}