:root {
    --tipografia:
    'Roboto';
    --colorAmarillo : #EAC926;
    --colorAzul : #03264C;
    --colorCeleste : #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --colorVerde: #39b54a;
}